DJANGO_DEBUG=1
DJANGO_SECRET_KEY=change-me
JWT_SHARED_SECRET=change-me

USER_DB_NAME=user_db
USER_DB_USER=user_user
USER_DB_PASSWORD=user_pass
USER_DB_HOST=user-db
USER_DB_PORT=5432

POST_DB_NAME=post_db
POST_DB_USER=post_user
POST_DB_PASSWORD=post_pass
POST_DB_HOST=post-db
POST_DB_PORT=5432

COMMENT_DB_NAME=comment_db
COMMENT_DB_USER=comment_user
COMMENT_DB_PASSWORD=comment_pass
COMMENT_DB_HOST=comment-db
COMMENT_DB_PORT=5432

GATEWAY_DB_NAME=gateway_db
GATEWAY_DB_USER=gateway_user
GATEWAY_DB_PASSWORD=gateway_pass
GATEWAY_DB_HOST=gateway-db
GATEWAY_DB_PORT=5432

USER_SERVICE_URL=http://user-service:8000
POST_SERVICE_URL=http://post-service:8000
COMMENT_SERVICE_URL=http://comment-service:8000
